extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
  
  div
    p :( return in home
    .mdl-cell.mdl-cell--12-col
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--colored(href="/")
            i.material-icons
            |HOME